html{
    margin: 0 auto;
    width: 100%;
}
body{
    margin: 0 auto;
    width: 100%;
}

.nav{
    width: 100%;
    margin: 0 auto;
}

.navbar{
    background-color: #1c6900;
    border-bottom: lightgrey solid 7px;
    width: 100%;
    margin: 0 auto;
}

.nav-item{
    background-color: #00d273;
    border: 0 solid;
    border-radius: 6px;
    float: left;
}

nav-item:hover{
    color: #009216;
    background-color: #15a626;
}

input{
    border: solid 0px;
    background-color: #668d6e;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 30px 5px 5px;
    margin-left: 5px;
    color: white;
    margin-right: 5px;
}

input:focus{
    background-color: #1dbe6f;
}

button{
    border: 0 solid;
    border-radius: 5px;
    background-color: #668d6e;
    color: white;
}

button:hover{
    background-color: #0b400e;
}